/***********************************/
/**           ORDER VIEW         **/
/***********************************/
#hipay_challenge_form.btn-deny {
  background-color: #dc5f5c !important;
}

#hipay_challenge_form.btn-accept {
  background-color: #26a65b !important;
}

.hipay-tabs #account_form h3,
#panel-credit-card h3,
#panel-global-settings h3,
#panel-local-payment h3 {
  font-size: 1.5em !important;
  margin: -15px -15px 15px -16px !important;
}

.hipay-tabs #account_form h5 {
  border-bottom: #dddddd solid 1px;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: 20px;
}

.table.table-item-hipay {
  padding-top: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.table.table-item-hipay thead tr th {
  text-align: center;
  font-weight: 600;
}

.table.table-item-hipay tbody tr td {
  text-align: center;
}

.table-item-hipay thead th,
.table-item-hipay tfoot tr {
  font-weight: 600;
  text-align: center;
}

.table-item-hipay tfoot tr td {
  padding-top: 10px;
}

.table-item-hipay tfoot tr td {
  border-top: solid 2px #a0d0eb !important;
}

/***********************************/
/**           Technical VIEW      **/
/***********************************/
#module-informations .technical-information,
#module-informations .technicals-requirements {
  margin-top: 10px;
}

#module-informations .alert.alert-warning {
  margin-right: 10px;
}

#panel-credit-card .bootstrap-duallistbox-container label,
#panel-local-payment .bootstrap-duallistbox-container label {
  text-align: center;
}

#panel-credit-card .bootstrap-duallistbox-container .info-container,
#panel-local-payment .bootstrap-duallistbox-container .info-container {
  display: none;
}

#panel-credit-card .credit-card-title,
#panel-local-payment .credit-card-title {
  color: #ffffff;
  background-color: #ffffff;
  text-align: center;
  height: 55px;
  line-height: 40px;
  font-size: 1.5em;
  min-height: 50px;
}

#panel-credit-card h4,
#panel-local-payment h4 {
  font-size: 2em;
}

#panel-credit-card .alert-warning.notice,
#panel-local-payment .alert-warning.notice {
  display: inline-block;
  font-size: 1.25em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 1em;
  background-color: #fff3ed;
}

/* Rebranding update start */
#hipay-module .alert-info {
  background-color: #f6e6f2 !important;
  border: 1px solid #a50979 !important;
}

#hipay-module .alert-info::before {
  color: #a50979 !important;
}

#hipay-module .switch input:first-of-type:checked ~ .slide-button {
  background: #a50979 !important;
}

#hipay-module .btn.pull-right {
  background-color: #a50979 !important;
  border-color: #a50979 !important;
}

#hipay-module .btn.pull-right:is(:hover, :focus, :active) {
  background-color: #740655 !important;
  border-color: 3px solid #740655 !important;
}

#hipay-module a {
  color: #a50979 !important;
}

#hipay-module ul > .active > a {
  color: #fff !important;
}

#hipay-module .nav-tabs > li > a {
  color: #fff !important;
}

#hipay-module .btn.btn-default:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#hipay-module .panel-heading {
  background-color: transparent !important;
}

#hipay-module .panel-heading a {
  color: #2c0a64 !important;
}

#hipay-module .btn-primary {
  color: #fff !important;
  background-color: #a50979 !important;
  border-color: #a50979 !important;
}

#hipay-module .btn-primary:is(:hover, :focus, :active) {
  background-color: #740655 !important;
  border-color: 3px solid #740655 !important;
}

#hipay-module .dropdown-toggle:hover {
  color: #fff !important;
  background-color: #a50979 !important;
}

#hipay-module .dropdown-toggle:focus {
  color: #fff !important;
  background-color: #a50979 !important;
}

#hipay-module .dropdown-menu > .active > a {
  color: #fff !important;
  background-color: #a50979 !important;
}

#hipay-module .dropdown-menu > li > a:hover {
  color: #fff !important;
  background-color: #a50979 !important;
}

#hipay-module .dropdown-menu > a {
  color: #20272b !important;
}

#hipay-module
  .hipay-tabs
  .bootstrap-duallistbox-container
  .btn:is(:hover, :focus, :active) {
  background-color: #a50979 !important;
  border-color: #a50979 !important;
}

#hipay-module input[type='text']:focus {
  border-color: #a5097958 !important;
  background-color: #fffbfd !important;
}

#hipay-module input[type='text']:hover {
  background-color: #fffbfd !important;
}

#hipay-module input[type='password']:focus {
  border-color: #a5097958 !important;
  background-color: #fffbfd !important;
}

#hipay-module input[type='password']:hover {
  background-color: #fffbfd !important;
}

#hipay-module select:focus {
  border-color: #a509797e !important;
  -webkit-box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px #a509797e !important;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px #a509797e !important;
}

#hipay-module .positioning {
  width: 75px !important;
}

#hipay-module .table tbody > tr:hover > td {
  background-color: #f8f3f6 !important;
}

#hipay-module .table thead > tr > th {
  border-bottom: 1px solid #a509797e !important;
}

#hipay-module .list-group-item {
  color: #20272b !important;
}

/* Rebranding update end */

/***********************************/
/**        FAQ  VIEW              **/
/***********************************/

#panel-faq .panel-heading-question i {
  color: #ff8c50;
}

#panel-faq .panel-heading-question {
  background-color: #2c0a64;
}

#panel-faq .panel-heading-question i[class='icon-arrow-circle-o-down'] {
  float: right;
}

#panel-faq .panel-heading.panel-heading-question i {
  font-size: 1.5em !important;
  padding: 5px;
}

#panel-faq
  .panel-heading-question
  [data-toggle='collapse'].collapsed
  i[class='icon-arrow-circle-o-down'] {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#hipay-header {
  margin-bottom: 16px;
}

#hipay-header .text-branded,
#hipay-content .text-branded {
  color: #2c0a64;
}

#hipay-header h4,
#hipay-content h4 {
  margin: 2px 0;
  color: #2c0a64;
  font-size: 1.8em;
}

#hipay-header h4 {
  margin: 15px auto;
}

#payment-logo {
  max-height: 150px;
  max-width: 200px !important;
}

#hipay-content h4 {
  margin-bottom: 10px;
}

#hipay-content ul {
  padding-left: 15px;
}

#hipay-content .ul-spaced li {
  margin-bottom: 5px;
}

.production-switch {
  border: solid 1px #a50979 !important;
  background-color: #a50979 !important;
}

.hipay-enterprise.nav-tabs {
  border: 0;
  padding: 0.4rem;
  background-color: #2c0a64;
  z-index: 2;
  position: relative;
  border-radius: 5px;
  color: #000 !important;
}

.hipay-enterprise.nav-tabs .nav-item.open .nav-link,
.hipay-enterprise.nav-tabs .nav-item.open .nav-link:focus,
.hipay-enterprise.nav-tabs .nav-item.open .nav-link:hover,
.hipay-enterprise.nav-tabs .nav-link.active,
.hipay-enterprise.nav-tabs .nav-link.active:focus,
.hipay-enterprise.nav-tabs .nav-link.active:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  -webkit-transition: all 2s;
  transition: all 2s;
  border-radius: 3px;
}

.hipay-enterprise.nav-tabs li a,
.nav-stacked li a {
  color: #ffffff !important;
}

.nav-stacked li a {
  color: #555 !important;
}

.bootstrap .hipay-enterprise.nav-tabs li.active a,
.bootstrap .hipay-enterprise.nav-tabs a:hover,
.bootstrap .hipay-enterprise.nav-tabs li.active a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.hipay-enterprise.nav-tabs .nav-item.show .nav-link,
.hipay-enterprise.nav-tabs .nav-link.active,
.nav-stacked .nav-item.show .nav-link,
.nav-stacked .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #ddd #ddd #fff;
}

.bootstrap .hipay-enterprise.nav-tabs > li.active > a,
.bootstrap .hipay-enterprise.nav-tabs > li.active > a:hover,
.bootstrap .nav-tabs > li.active > a:focus {
  border: 0px;
}

.bootstrap .nav-stacked li a {
  font-size: 1.1em;
  font-family: 'Ubuntu Condensed', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

.bootstrap .nav-pills > li.active > a,
.bootstrap .nav-pills > li.active > a:hover,
.bootstrap .nav-pills > li.active > a:focus {
  background-color: #a50979;
  color: #ffffff !important;
}

.label-value {
  font-size: 13px;
  font-weight: normal;
  color: #666;
  text-align: left;
  margin-bottom: 0;
  padding-top: 7px;
  font-weight: 600;
}

/***********************************/
/**        MAIN ADMIN VIEW        **/
/***********************************/
#hipayNotifLogo {
  max-height: 50px;
  max-width: 100% !important;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.inline-grid {
  display: inline-grid;
}

#hipay_refund_type,
#hipay_capture_type {
  padding: 4px 8px 4px 8px;
  border-radius: 6px;

  margin-left: 6px;
}

#hipay_refund_amount,
#hipay_capture_amount {
  padding: 4px 8px 4px 8px;

  margin-left: 6px;
  width: 80px;

  text-align: right;
}

.refund-amount,
.capture-amount {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: fit-content;
  min-width: fit-content;
}

.input-group-text {
  border-radius: 0px 4px 4px 0px;
}

.input-group-addon {
  margin-left: 6px;
}

.good-selector-refund,
.good-selector-capture {
  padding: 4px 0px 4px 8px;
  border-radius: 6px;

  margin-left: 6px;
}

.refund-quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#total-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #101010;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.readonly {
  pointer-events: none;
  opacity: 0.5;
}

:not(.switch).readonly {
  background-color: #e9ecef !important; /* Similar to default disabled background color */
}
.alma-container .loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #A50979;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alma-container {
  min-height: 40px;
  display: flex;
  align-items: center;
}

.alma-container h4 {
  margin: 0;
  color: #A50979!important;
}