.hipay-form-17 {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hipay-form-17 input, .hipay-form-17 select{
    background-color: #FDFDFD !important;
}

.error-input-hp{
    border-color : #ff4c4c!important;
}

.error-text-hp{
    color :#ff4c4c ;
    font-size: .875rem;
}

.input-hp{
    border: 1px solid rgba(0,0,0,.15);
}
