#credit-card-group {
  margin-bottom: 20px;
}

.hipay-field-label,
.hipay-field-radio-label {
  display: inherit !important;
  margin-bottom: 0;
}

.hipay-field-error {
  line-height: 11px !important;
}

.hipayHF-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 0 16px 0;
}

#hipayHF-container {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

#hipayHF-form {
  margin: auto;
  width: 100%;
  max-width: 520px;
}

.hipayHF-field-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  height: 50px;
  margin: 0 10px;
}

.hipayHF-field-container-half {
  width: 50%;
}

.ie9 .hipayHF-field-container-half {
  width: 100%;
  margin-bottom: 16px;
}

.hipayHF-field {
  z-index: 2;
  opacity: 0.001;
  -webkit-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity;

  height: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-bottom: 7px;
  color: #32325d;
  background-color: transparent;
}

@media screen and (max-width: 359px) {
  .hipayHF-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .hipayHF-field-container {
    margin-bottom: 16px;
  }

  .hipayHF-field-container-half {
    width: 100%;
  }
}

.hipayHF-field.HiPayField--focused,
.hipayHF-field:not(.HiPayField--empty) {
  opacity: 1;
}

.hipayHF-field.HiPayField--disabled {
  background-color: #f3f3f3;
}

.hipayHF-label {
  z-index: 1;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8px;
  color: #cfd7df;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  cursor: text;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  -o-transition-property: color, transform;
  transition-property: color, transform;
  transition-property: color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: left;
  margin-bottom: 0;
}

.HiPayField--focused + .hipayHF-label,
.hipayHF-field:not(.HiPayField--empty) + .hipayHF-label {
  color: #aab7c4;
  -webkit-transform: scale(0.85) translateY(-25px);
  -ms-transform: scale(0.85) translateY(-25px);
  transform: scale(0.85) translateY(-25px);
  cursor: default;
}

.HiPayField--focused + .hipayHF-label {
  color: #A50979 !important;
}

.HiPayField--focused + .hipayHF-baseline {
  color: #A50979 !important;
}

.HiPayField--invalid + .hipayHF-label {
  color: #d50000 !important;
}

.hipayHF-baseline {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0;
  bottom: 0;
  border-bottom: solid 1px #cfd7df;
  /*background-color: #cfd7df;*/
  -webkit-transition: border-bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: border-bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: border-bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.HiPayField--focused + .hipayHF-label + .hipayHF-baseline {
  border-bottom: solid 1px #A50979;
}

.HiPayField--invalid + .hipayHF-label + .hipayHF-baseline {
  border-bottom: solid 1px #d50000;
}

.HiPayField--disabled + .hipayHF-label + .hipayHF-baseline {
  border-bottom: dotted 1px #cfd7df;
}

#hipayHF-help-cvc {
  font-size: 14px;
  padding: 0.75rem 1.25rem;
  margin-top: 25px;
  border-radius: 0.25rem;
  color: #856404;
  background-color: #fff3cd;
  border: solid 1px #ffeeba;
  display: none;
}

#hipayHF-help-cvc.visible {
  display: block;
}

.hipay-form-17 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 2.875rem;
}

.hipay-form-17 input,
.hipay-form-17 select {
  background-color: #fdfdfd !important;
}

.hipay-form-17 input:disabled,
.hipay-form-17 select:disabled {
  background-color: #eee !important;
}

.error-input-hp {
  border-color: #ff4c4c !important;
}

.error-text-hp {
  color: #ff4c4c;
  font-size: 15px;
}

.input-hp {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.card-img {
  margin-bottom: 1.05em;
}

.hipay-form-17 .option_payment label {
  font-size: 0.9375rem;
  color: #7a7a7a;
  display: inline-block !important;
}

.hipay-form-17 .option_payment.saved-card {
  margin-left: 40px;
}

#save-credit-card {
  margin-left: 15px;
}

.group-card {
  margin-top: 15px;
}

.one-click {
  margin: 10px;
  padding: 10px 0;
}

a.tooltips {
  position: relative;
  text-align: right;
  display: block;
  font-size: 0.8em;
}

a.tooltips span {
  position: absolute;
  width: 340px;
  color: #ffffff;
  background: #000000;
  text-align: left;
  visibility: hidden;
  border-radius: 6px;
  padding: 3px;
}

a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

.card-js .expiry-month {
  text-indent: 30px;
  width: 35%;
  padding-left: 0px !important;
}

.card-js .expiry-year {
  width: 30%;
  margin-left: 2%;
  text-indent: 15%;
  border-left: 1px solid #d9d9d9 !important;
}

@-moz-document url-prefix() {
  .card-js .expiry-month {
    text-indent: 15px;
  }

  .card-js .expiry-year {
    text-indent: 5%;
  }
}

.card-js input:focus,
.card-js select:focus {
  border-color: #A50979 !important;
}

.card-js select option[hidden] {
  color: #c8c8c8 !important;
}

.hipay-form-16-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #555454;
  font-size: 18px;
  padding: 0 0 15px;
  line-height: normal;
  margin-bottom: 12px;
}

@media screen and (max-width: 1200px) {
  .card-js .expiry-month {
    text-indent: 30px;
    width: 60%;
    padding-left: 0px !important;
  }

  .card-js .expiry-year {
    width: 38%;
    margin-left: 2%;
    text-indent: 15%;
  }

  @-moz-document url-prefix() {
    .card-js .expiry-month {
      text-indent: 15px;
    }

    .card-js .expiry-year {
      text-indent: 5%;
    }
  }
}

.referenceContainer {
  text-align: center;
}

.referenceContainer .print {
  margin-top: 12px;
}

#paypal-field {
  padding-bottom: 70px;
}