{
  "name": "test",
  "config": {
    "group": {
      "code": "test",
      "label": "Test method group is optional"
    },
    "displayNameBO": "Test method",
    "displayName":  {
      "fr": "Test method",
      "en": "Test method"
    },
    "frontPosition": 31,
    "activated": 0,
    "canRefund": 0,
    "canRefundPartially": 0,
    "canManualCapture": 0,
    "canManualCapturePartially": 0,
    "currencies": [
      "EUR"
    ],
    "countries": [
      "FR"
    ],
    "displayConfigurationFields": [
      "displayName",
      "minAmount",
      "maxAmount",
      "countries",
      "iframe"
    ],
    "countrySelectorReadOnly": 1,
    "currencySelectorReadOnly": 1,
    "basketRequired": 1,
    "forceHpayment": 1,
    "iframe": 0,
    "minAmount": {
      "EUR": 0
    },
    "maxAmount": {
      "EUR": false
    },
    "logo": "oney-carte-cadeau.png",
    "additionalFields": {}
  }
}
